<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Playas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'SurfApp/css/playas-styles.css' %}">

</head>
<body>
<div class="container" id="contenedor-playas">

    {% for playa in playas %}
        <div class="playa">
            <div>
                <div class="nombre-playa">{{ playa.nombre }}</div>
                <a class="fecha">
                    Lugar: {{ playa.lugar }} <br>
                    Lat: {{ playa.latitud|floatformat:7 }} - Long: {{ playa.longitud|floatformat:7 }}
                </a>
            </div>
            <div class="acciones">
                <button class="boton" onclick="verEnMapa({{ playa.latitud }}, {{ playa.longitud }})">📍</button>
                <button class="boton" onclick="solicitarInfo('{{ playa.nombre }}')">♻️</button>
                <button class="boton" onclick="eliminarPlaya('{{ playa.id }}')">🗑️</button>
            </div>
        </div>
    {% empty %}
        <p>No hay playas registradas.</p>
    {% endfor %}

    <!-- Botón para agregar más playas -->
    <div class="agregar" onclick="agregarPlaya()">+</div>
</div>
<!-- Modal -->
<div id="modalAgregar" class="modal">
    <div class="modal-content">
        <h3>Agregar Playa</h3>
        <input type="text" id="inputNombre" placeholder="Nombre de la playa"><br><br>
        <input type="text" id="inputLugar" placeholder="Lugar / ciudad"><br><br>
        <div class="modal-buttons">
            <button class="btn guardar" onclick="enviarNuevaPlaya()">Guardar</button>
            <button class="btn cancelar" onclick="cerrarModal()">Cancelar</button>
        </div>
    </div>
</div>

<script src="{% static 'mi_app/js/playas.js' %}"></script>
</body>
</html>
